@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Roboto&display=swap');

.nav-tabs > li > a, 
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover {
    color: #28ace2;
}

h2, h4 {
  color: white;
  background-color: #28ace2;
  /*padding: 10px;
  border-radius: 10px;
  margin-bottom: 25px !important;
  margin-top: 25px !important;*/
  font-family: 'Poppins', sans-serif;
  padding-left: 30px;
}

h3 {
  color: #28ace2;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

h5{
    font-family: 'Roboto', sans-serif !important;
    color: #B5B5C3 !important;
    padding: 10px;
}

label{
    font-family: 'Roboto', sans-serif !important;
    color: #181c32 !important
}

.body{
    font-family: 'Roboto', sans-serif !important;
    color: #181c32 !important
}

.well {
  padding-top: 0px;
  background-color: white !important;
  border-radius: 10px;
}

.collapse {
  padding-top: 0px;
  background-color: white !important;
  border-radius: 10px;
}
.conditional {
  padding-top: 0px;
  background-color: white !important;
  border-radius: 10px;
}

form.well {
  padding-top: 19px;
}

form.conditional {
  padding-top: 19px;
}
.form-group{
    padding: 10px !important;
}
/*
.timevis {
  box-shadow: 2px 2px 3px #444;
}
*/
.container-fluid{
    background-color: #E4E6EF;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.selectize-control.multi .selectize-input.has-items{
    border-radius: 10px;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle{
    border-radius: 0px 10px 10px 0px;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle){
    border-radius: 10px 0px 0px 10px;
}

.selectize-control.multi .selectize-input > div{
    background-color: #28ace2 !important;
    color: #fff !important;
}

.vis-inner{
    background-color: #28ace2 !important;
    color: #fff !important;
    border-radius: 10px;
}

.vis-labelset .vis-label .vis-inner{
    margin-top: 10px !important;
    margin-left: 5px !important;
	width: 200px !important;
}

.vis-timeline{
    border-radius: 10px;
}

.timevis.html-widget{
    padding: 10px;
}

.timevis.html-widget .zoom-menu{
    right: 80px !important;
    top: 480px !important;
}

/*.vis-item .vis-item-content{
  border-color: #C9F7F5;
  background-color: #C9F7F5;
  border-width: 3px;  
  color: #1BC5BD; 
  border-radius: 10px;
}*/

/*.btn{
    margin-top: 35px !important;
    /*padding: 3px !important;
    border-radius: 5px !important;
}*/

.vis-time-axis .vis-text{
    font-family: 'Roboto', sans-serif !important;
    color: #181c32 !important
}

/*.vis-foreground .vis-group{
    border-bottom: none !important;
}*/

#TimelineVis .A1 .vis-item {
  border-color: #C9F7F5;
  background-color: #C9F7F5;
  border-width: 3px;  
  color: #1BC5BD; 
  border-radius: 10px;
}

#TimelineVis .A2 .vis-item {
  border-color: #FFF4DE;  
  background-color: #FFF4DE;
  border-width: 3px; 
  color: #FFA800; 
  border-radius: 10px;
}

#TimelineVis .A3 .vis-item {
  border-color: #EEE5FF;  
  background-color: #EEE5FF;
  border-width: 3px; 
  color: #8950FC; 
  border-radius: 10px;
}

#TimelineVis .A4 .vis-item {
  border-color: #E1F0FF;  
  background-color: #E1F0FF;
  border-width: 3px;
  color: #3699FF;
  border-radius: 10px;
}

#TimelineVis .A5 .vis-item {
  border-color: #D4B483 !important;  
  background-color: #D4B483 !important;
  border-width: 3px;
  color: #5B4931;
  border-radius: 10px;
}

#TimelineVis .A6 .vis-item {
  border-color: #a5d4b8 !important;  
  background-color: #a5d4b8 !important;
  border-width: 3px; 
  color: #49ad70; 
  border-radius: 10px;
}

#TimelineVis .A7 .vis-item {
  border-color: #a2c2f7 !important;  
  background-color: #a2c2f7 !important;
  border-width: 3px; 
  color: #4285f5; 
  border-radius: 10px;
}

#TimelineVis .A8 .vis-item {
  border-color: #fdb38f !important;  
  background-color: #fdb38f !important;
  border-width: 3px;
  color: #ff6901;
  border-radius: 10px;
}

#TimelineVis .A9 .vis-item {
  border-color: #c28fb7 !important;
  background-color: #c28fb7 !important;
  border-width: 3px;  
  color: #891b70; 
  border-radius: 10px;
}

#TimelineVis .A10 .vis-item {
  border-color: #9090b1 !important;  
  background-color: #9090b1 !important;
  border-width: 3px; 
  color: #232066; 
  border-radius: 10px;
}

#TimelineVis .A11 .vis-item {
  border-color: #c4cfd7 !important;  
  background-color: #c4cfd7 !important;
  border-width: 3px; 
  color: #6D6D6D; 
  border-radius: 10px;
}

#TimelineVis .A12 .vis-item {
  border-color: #FDEBF3 !important;  
  background-color: #FDEBF3 !important;
  border-width: 3px;
  color: #ED2089;
  border-radius: 10px;
}

#TimelineVis .A13 .vis-item {
  border-color: #4C3B4D !important;
  background-color: #4C3B4D !important;
  border-width: 3px;  
  color: #ADA8B6; 
  border-radius: 10px;
}

#TimelineVis .A14 .vis-item {
  border-color: #61C9A8 !important;  
  background-color: #61C9A8 !important;
  border-width: 3px; 
  color: #C6E5D9; 
  border-radius: 10px;
}

#TimelineVis .A15 .vis-item {
  border-color: #A53860 !important;  
  background-color: #A53860 !important;
  border-width: 3px; 
  color: #FCD0E1; 
  border-radius: 10px;
}

#TimelineVis .A16 .vis-item {
  border-color: #ADA8B6 !important;  
  background-color: #ADA8B6 !important;
  border-width: 3px;
  color: #4C3B4D;
  border-radius: 10px;
}

#TimelineVis .A17 .vis-item {
  border-color: #FFEEDB !important;
  background-color: #FFEEDB !important;
  border-width: 3px;  
  color: #F99D41; 
  border-radius: 10px;
}

#TimelineVis .A18 .vis-item {
  border-color: #295135 !important;  
  background-color: #295135 !important;
  border-width: 3px; 
  color: #B2F7C4; 
  border-radius: 10px;
}

#TimelineVis .A19 .vis-item {
  border-color: #5A6650 !important;  
  background-color: #5A6650 !important;
  border-width: 3px; 
  color: #E5F7D2; 
  border-radius: 10px;
}

#TimelineVis .A20 .vis-item {
  border-color: #9FCC2E !important;  
  background-color: #9FCC2E !important;
  border-width: 3px;
  color: #295135;
  border-radius: 10px;
}

#TimelineVis .A21 .vis-item {
  border-color: #9EBC9E !important;
  background-color: #9EBC9E !important;
  border-width: 3px;  
  color: #0A440A; 
  border-radius: 10px;
}

#TimelineVis .A22 .vis-item {
  border-color: #A26769 !important;  
  background-color: #A26769 !important;
  border-width: 3px; 
  color: #FFD2D5; 
  border-radius: 10px;
}

#TimelineVis .A23 .vis-item {
  border-color: #FB9874 !important;  
  background-color: #FB9874 !important;
  border-width: 3px; 
  color: #FC5927; 
  border-radius: 10px;
}

#TimelineVis .A24 .vis-item {
  border-color: #D4B483 !important;  
  background-color: #D4B483 !important;
  border-width: 3px;
  color: #5B4931;
  border-radius: 10px;
}

#TimelineVis .Timeline .vis-item {
  border-color: #000000;  
  background-color: #000000;
  border-width: 3px;
  color: #000000;
  border-radius: 10px;
}

.vis-item.vis-point.vis-selected, .vis-item.vis-selected{
    border-color: tomato !important;
}

.TL {
	width: 350px;
}

.vis-item-content {
	white-space: normal!important;
}

.timevis.html-widget .zoom-menu{
    position: fixed !important;
}

.timevis.html-widget{
    margin-bottom: 0px !important;
}

.uploadButtons {
	margin-top: 25px;
}

.uploadButtons .btn {
	font-size: 14px !important;
	padding: 16px 12px;
}

.uploadButtons1 .progress.shiny-file-input-progress{
	display: none;
}

.uploadButtons .progress.shiny-file-input-progress{
	margin-bottom: 0px;
	width: 75%;
}


.uploadButtons1 .form-control {
	display: none !important;
}

.uploadButtons .form-control {
	height: 55px;
	width: 50%;
}

.uploadButtons .form-group {
	padding: 0px !important; 
	margin-bottom: 0px;
}

#uppies .col-sm-4{
	width: 15% !important;
}

#entry {
	white-space: nowrap;
}

#entry .col-sm-8{
	width: 85% !important;
}

#entry .ht_clone_top{
	width: 100% !important;
}

#uppies .col-sm-4, #entry .col-sm-8 {
	padding: 0;
}

#uppies .well, #entry .well{
	padding: 0;
	border-radius: 0;
}